.blog-post-card {
  padding: 15px;
  background-color: #fff;
  border-radius: 5%;
  width: 300px;
  text-align: center;
}
.post-img {
  /* object-fit: fill; */
  border-bottom: 2px solid rgb(255, 0, 0);
  display: block;
  height: 100%;
  width: 100%;
}
.post-content {
  padding: 15px;
}
.post-title {
  padding: 10px;
  color: green;
}
.post-excerpt {
  padding: 15px;
  color: blue;
}
.read-more {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: azure;
  border: 3px dashed blue;
  border-radius: 5px;
  /* cursor: pointer; */
  margin: 5px;
  padding: 5px;
}
a:hover {
  color: rgb(255, 0, 0);
  border-color: green;
}
.read-more:focus {
  color: blue;
  border-color: orange;
}
